*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.kapsayici{
 max-width: 1400px;
 height: 100%;
  margin: auto;
  
}



.bolum1{
    width:100%;
    height: 100%;
    background: url("https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background.jpg");
    background-size: cover;
}

  

.logo{
    width: 270px;
    opacity: 0.8;
    position: absolute;
   height: 150px;
   margin-top: -22px;
  
}

.buton{
    background-color: black;
    color: white;
    opacity: 0.8;
    width: 140px;
    height: 35px;
    margin-left: 1000px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 2px;
    opacity: 0.6;
}


.buton2{
    background-color: red;
    color: white;
    width: 140px;
    height: 30px;
    border-radius: 4px;
    margin-left: 25px;
    border: red;
    cursor: pointer;
}


.buton2 a{
    text-decoration: none;
    color: white;
}


.ilk_p{
    color: white;
    font-size: 26px;
    margin-left: 545px;
    margin-top: 180px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: text;
    font-weight: bolder;
}


.ikinci_p{
    color: white;
    font-size: 49px;
    margin-left: 400px;
    margin-top: 13px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 1px;
}


.ucuncu_p{
    color: white;
    font-size: 26px;
    margin-left: 390px;
    margin-top: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}


.uyelik {
   width: 460px;
   height: 68px;
    margin-left: 470px;
    margin-top: 20px;
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 27px;
    border-radius: 2px;
    border: 1px solid red;
   cursor: pointer;
}


.uyelik a{
text-decoration: none;
color: white;
}



.cizgi{

    width:100%;
    height: 10px;
    background-color: rgb(17, 22, 22);
    margin-top: 146px;
}


.bolum2{
    width: 100%;
    height: 444px;
    background-color: black;
    color: white;
    position: relative;
}


.bolum2 h1{
    transform: scaleX(1.2);
    transform-Origin: 0 0;
    position: absolute;
    margin-top: 100px;
    margin-left: 170px;
    font-size: 43px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 45px;    
}


.bolum2 p{
    transform: scaleX(1.2);
    transform-Origin: 0 0;
    position: absolute;
    margin-top: 210px;
    margin-left: 170px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 27px;
}


.video{
    width: 460px;
    height: 400px;
    margin-left: 730px;
  position: absolute;
}


video{
   position: absolute;
    width: 340px;
    height: 800px;
margin-left: 788px;
margin-top: -210px;
}


.cizgi2{
    width:100%;
    height: 10px;
    background-color: rgb(17, 22, 22);
    margin-bottom: -200px;
}


.bolum3{
    width: 100%;
    height: 504px;
    background-color: black;
    margin-top: 200px;
}


.bolum3 img{
    width: 460px;
    height: 340px;
    margin-top: 50px;
    margin-left: 100px;
}


.str{
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    margin-left: -300px;
    margin-top:200px;
    position: absolute;
}


.kapsa{
    width: 287px;
    height: 89px;
    max-height: 89px;
    background-color: rgb(0, 0, 0);
    border: 2px solid grey;
    border-radius: 9px;
    margin-left: 190px;
    margin-top: -110px;
    position: relative;
}


.kapsa .str-resim{
  width: 55px; 
  height: 68px;
  margin-left: 6px;
  margin-top: 8px;
 
}


.kapsa p{
    color: white;
    font-weight: bolder;
    margin-left: 80px;
    margin-top: -55px;
    font-size: 16px;
}


.kapsa .instl{
    color: rgba(60, 123, 231, 0.563);
    margin-top: 2px;
    font-weight: 100;
    font-size: 15px;
}


.spinner{
    width: 25px;
    height: 25px;
    margin-top: -29px;
    margin-left: 235px;
    border-radius: 100%;
    animation-name: spinner .7s linear infinite;
    -webkit-animation: spinner .7s linear  infinite;
    -moz-animation: spinner .7s linear  infinite;
  }


  .spinner:after{
    position: absolute;
    content:'';
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border-top:3px solid rgba(33, 106, 233, 0.563);
    border-bottom:3px solid  rgba(33, 106, 233, 0.563);
    border-left:3px solid  rgba(33, 106, 233, 0.563);
    border-right:3px solid transparent;
    top: -3px;
    left: -3px;
  }
  

  @keyframes spinner{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

   
  @-webkit-keyframes spinner{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

   
  @-moz-keyframes spinner{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  

  .bolum3 h1{
    transform: scaleX(1.2);
    transform-Origin: 0 0;
    position: absolute;
    font-size: 43px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 700px; 
    margin-top: -210px;
    font-size: 40px;
  }


.bolum3 .acıklama{
    color: white;
    margin-left: 700px;
    margin-top: -95px;
    font-size: 26px;
    transform: scaleX(1.0);
    transform-Origin: 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 28px;
}


.bolum3 .cizgi3{
    width:100%;
    height: 10px;
    background-color: rgb(17, 22, 22);
    margin-top: 160px;
}


.bolum4{
    background-color: black;
    width: 100%;
    height: 500px;
    color: white;
    position: relative;
}


.bolum4 h1{
    position: absolute;
    margin-top: 130px;
    margin-left: 190px;
    transform: scaleX(1.2);
    transform-Origin: 0 0;
    position: absolute;
    font-size: 43px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.bolum4 p{
    position: absolute;
    margin-top: 250px;
    margin-left: 190px;
    font-size: 26px;
    line-height: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.spinner{
    width: 25px;
    height: 25px;
    margin-top: -29px;
    margin-left: 235px;
    border-radius: 100%;
    animation-name: spinner .7s linear infinite;
    -webkit-animation: spinner .7s linear  infinite;
    -moz-animation: spinner .7s linear  infinite;
  }


  .spinner:after{
    position: absolute;
    content:'';
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border-top:3px solid rgba(33, 106, 233, 0.563);
    border-bottom:3px solid  rgba(33, 106, 233, 0.563);
    border-left:3px solid  rgba(33, 106, 233, 0.563);
    border-right:3px solid transparent;
    top: -3px;
    left: -3px;
  }

  
  @keyframes spinner{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
   

  @-webkit-keyframes spinner{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

   
  @-moz-keyframes spinner{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }


.our-story-card-video{
    opacity: 0.9;
    width: 300px;
    margin-left: 816px;
    height: 510px;
    margin-top: -90px;

}


.video2{
  width: 500px;
  margin-left: 720px;
  margin-top: 40px;
  position: absolute
}

.bolum4 .cizgi4{
  width:100%;
  height: 10px;
  background-color: rgb(17, 22, 22);
  position: absolute;
  margin-top: 490px;
}


.bolum5{
  width: 100%;
  height: 1000px;
  background-color: black;
  position: relative;
}


.bolum5_img{
  width: 459px;
  height: 320px;
  margin-top: 80px;
  margin-left: 170px;
}


.bolum5 h1{
  position: absolute;
  color: white;
  margin-top: -270px;
  margin-left: 700px;
  line-height: 47px;
  transform: scaleX(1.3);
  transform-Origin: 0 0;
  position: absolute;
  font-size: 41px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.bolum5 p{
  color: white;
  position: absolute;
  margin-top: -160px;
  margin-left: 700px;
  font-size: 26px;
  line-height: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.bolum5 .cizgi5{
  width:100%;
  height: 10px;
  background-color: rgb(17, 22, 22);
  position: absolute;
  margin-top: 84px;
}


.kapsayici2{
  position: relative;
}


.sorular{
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  width: 100%;
  height: 1170px;
  margin-top: -820px;
}


.sorular h1{
  position: absolute;
  margin-bottom: 340px;
  font-size: 45px;
  word-spacing: -3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.soru1{
  cursor: pointer;
  background-color: #303030;
  margin-bottom: 137px;
  list-style: none;
  padding: 20px;
  width:670px;
  height: 75px;
  align-items: center;
  display: flex;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
}


#plus1{
  padding-left: 610px;
  padding-bottom: 40px;
  position: absolute;
  justify-content: center;
  margin-top: -11px;
  margin-left: -150px;
  font-size: 48px;
  font-weight:normal;
}


.soru2{
  background-color: #303030;
  margin-bottom: -28px;
  list-style: none;
  padding: 20px;
  width:670px;
  height: 75px;
  align-items: center;
  display: flex;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  cursor: pointer;
}


 #plus2{
  padding-left: 610px;
  padding-bottom: 40px;
  position: absolute;
  justify-content: center;
  margin-top: -14px;
  margin-left: -264px;
  font-size: 48px;
  font-weight:normal;
}


.soru3{
  background-color: #303030;
  margin-bottom: -192px;
  list-style: none;
  padding: 20px;
  width:670px;
  height: 75px;
  align-items: center;
  display: flex;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  cursor: pointer;
}


#plus3{
  padding-left: 610px;
  padding-bottom: 40px;
  position: absolute;
  justify-content: center;
  margin-top: -14px;
  margin-left: -229px;
  font-size: 48px;
  font-weight:normal;
}


.soru4{
  background-color: #303030;
  margin-bottom: -355px;
  list-style: none;
  padding: 20px;
  width:670px;
  height: 75px;
  align-items: center;
  display: flex;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  cursor: pointer;
}


#plus4{
  padding-left: 610px;
  padding-bottom: 40px;
  position: absolute;
  justify-content: center;
  margin-top: -14px;
  margin-left: -206px;
  font-size: 48px;
  font-weight:normal;
}


.soru5{
  background-color: #303030;
  margin-bottom: -517px;
  list-style: none;
  padding: 20px;
  width:670px;
  height: 75px;
  align-items: center;
  display: flex;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  cursor: pointer;
}


#plus5{
  padding-left: 610px;
  padding-bottom: 40px;
  position: absolute;
  justify-content: center;
  margin-top: -14px;
  margin-left: -267px;
  font-size: 48px;
  font-weight:normal;
}


.soru6{
  background-color: #303030;
  margin-bottom: -680px;
  list-style: none;
  padding: 20px;
  width:670px;
  height: 75px;
  align-items: center;
  display: flex;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  cursor: pointer;
}


#plus6{
  padding-left: 501px;
  padding-bottom: 40px;
  position: absolute;
  justify-content: center;
  margin-top: -14px;
  margin-left: -267px;
  font-size: 48px;
  font-weight:normal;
}


.uyelık_bslngc{
  background-color: red;
  color: white;
  width: 390px;
  height: 64px;
  border-radius: 3px;
  font-size: 23px;
  position: absolute;
  margin-top: 933px;
  letter-spacing: 1px;
  cursor: pointer;
}


.uyelık_bslngc a{
  text-decoration: none;
  color: white;
}


.cizgi_son{
  width:100%;
  height: 10px;
  background-color: rgb(17, 22, 22);
}




/* FOOTER ALANI  */

.footer{
  width: 100%;
  height: 400px;
  background-color: black;
}


.footer p{
  color: #737373;
  position: absolute;
  margin-top: 67px;
  margin-left: 280px;
  word-spacing: 1px;
  font-size: 17px;
  font-weight: bold;
}


.footer_ul1{
  color: #737373;
  position: absolute;
  font-size: 14px;
  margin-left: 260px;
  margin-top:80px;
  list-style: none;
  padding: 20px;
}


.footer ul li{
  padding-top: 14px;
}


.footer_ul2{
  color: #737373;
  position: absolute;
  font-size: 14px;
  margin-left: 480px;
  margin-top:80px;
  list-style: none;
  padding: 20px;
}


.footer ul li{
  padding-top: 14px;
}


.footer_ul3{
  color: #737373;
  position: absolute;
  font-size: 14px;
  margin-left: 697px;
  margin-top:80px;
  list-style: none;
  padding: 20px;
}


.footer ul li{
  padding-top: 14px;
}


.footer_ul4{
  color: #737373;
  position: absolute;
  font-size: 14px;
  margin-left: 907px;
  margin-top:80px;
  list-style: none;
  padding: 20px;
}


.footer ul li{
  padding-top: 14px;
}


.dil{
  width: 180px;
  height: 48px;
  color:  #9d9b9b;
  font-size: 15px;
  background-color: black;
  border:1px solid #505050;
  border-radius: 1px;
  margin-top: 260px;
  margin-left: 280px;
}


#sembol{
  margin-right: 10px;
}


#son1{
  font-size: 12px;
  font-family:'Times New Roman', Times, serif;
  margin-top: 27px;
}

.tel{
  text-decoration: none;
  color:#9d9b9b;
  font-size: 15px;
}